<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Garfield viewer</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
	<style>
	img { display: block; width: 100%; }
	.date { padding-top: 1em; display: block; font-size: 200%; }
	</style>
	<script>
		var MILLISECS_IN_DAYS = 24 * 60 * 60 * 1000
		AppController.$inject = ['$scope']
		function AppController(scope){
			scope.hires = false
			scope.log = function(s){ console.log(s); return s }
			scope.dateToDays = function(date){
				return Math.floor(date.getTime() / MILLISECS_IN_DAYS)
			}
			scope.daysToDate = function(days){
				return new Date(days * MILLISECS_IN_DAYS)
			}
			scope.days = scope.dateToDays(new Date())
			scope.nextWeek = function(){
				scope.days += 7
			}
			scope.prevWeek = function(){
				scope.days -= 7
			}
			scope.getLastDays = function(n){
				var arr = []
				var date = scope.days
				for(; n >= 1; n--) {
					arr.push(date)
					date--
				}
				return arr
			}
			function lpad2(number) {
				return (number < 10) ? '0' + number : number
			}
			scope.urlForDate = function(days){
				if (!scope.hires) {
					var date = scope.daysToDate(days)
					var year = date.getFullYear()
					var month = lpad2(date.getMonth() + 1)
					var day = lpad2(date.getDate())
					var url = "http://picayune.uclick.com/comics/ga/" + year + "/ga" + (year % 100) + month + day
					url += (date.getDay() == 0) ? ".jpg" : ".gif"
					return url
				} else {
					var t = days * 86400 - 39600;
					var url = "http://home.exetel.com.au/amurgshere/garfield/main.php?image="+t+"&lowres=0&comic=garfield"
					return url
				}
			}
		}
	</script>
	<script>
		function assertEqual(expected, actual){
			if (typeof(expected) == 'object') {
				assertEqual(angular.toJson(expected), angular.toJson(actual))
			} else if (expected !== actual) {
				throw "Assertation error: expected '" + expected + "', but got '" + actual + "'"
			}
		}
		;(function(){
			var scope;
			function setUp(){
				scope = {}
				var ctrl = new AppController(scope)
			}
			var todayInDays = Math.floor(new Date().getTime() / MILLISECS_IN_DAYS)
			var sunday20130310 = Math.floor(new Date('2013-03-10').getTime() / MILLISECS_IN_DAYS)

			;(function dateToDays(){
				setUp()
				assertEqual(todayInDays, scope.dateToDays(new Date()))
				assertEqual(sunday20130310, scope.dateToDays(new Date('2013-03-10')))
			})()
			;(function daysToDate(){
				setUp()
				assertEqual(new Date('2013-03-10'), scope.daysToDate(sunday20130310))
			})()
			;(function assignsDays(){
				setUp()
				assertEqual(todayInDays, scope.days)
			})()
			;(function nextWeek(){
				setUp()
				scope.nextWeek()
				assertEqual(todayInDays + 7, scope.days)
			})()
			;(function prevWeek(){
				setUp()
				scope.prevWeek()
				assertEqual(todayInDays - 7, scope.days)
			})()
			;(function getLastDays(){
				setUp()
				assertEqual([todayInDays], scope.getLastDays(1))
				assertEqual([todayInDays, todayInDays - 1], scope.getLastDays(2))
			})()
			;(function lowres_by_default(){
				setUp()
				assertEqual(false, scope.hires)
			})()
			;(function lowres_url_for_sundays_ends_with_jpg(){
				setUp()
				scope.hires = false
				assertEqual("http://picayune.uclick.com/comics/ga/2013/ga130310.jpg", scope.urlForDate(sunday20130310))
			})()
			;(function lowres_url_for_other_days_ends_with_gif(){
				setUp()
				scope.hires = false
				var friday19991231 = scope.dateToDays(new Date('1999-12-31'))
				assertEqual("http://picayune.uclick.com/comics/ga/1999/ga991231.gif", scope.urlForDate(friday19991231))
			})()
			;(function hires_url_from_exetel(){
				setUp()
				scope.hires = true
				var date20130318 = scope.dateToDays(new Date('2013-03-18'))
				var date20130319 = scope.dateToDays(new Date('2013-03-19'))
				assertEqual('http://home.exetel.com.au/amurgshere/garfield/main.php?image=1363525200&lowres=0&comic=garfield', scope.urlForDate(date20130318))
				assertEqual('http://home.exetel.com.au/amurgshere/garfield/main.php?image=1363611600&lowres=0&comic=garfield', scope.urlForDate(date20130319))
			})()
		})()
		//if there were no errors, start the application
		angular.element(document).ready(function() {
			angular.bootstrap(document)
		})
	</script>
</head>
<body ng-controller="AppController">
	<a href ng-click="prevWeek()">Prev week</a>
	{{daysToDate(days) | date:'yyyy-MM-dd'}}
	<a href ng-click="nextWeek()">Next week</a>
	<input type="checkbox" ng-model="hires">Hi resolution images
	<div ng-repeat="days in getLastDays(7)">
		<span class="date">{{daysToDate(days) | date:'yyyy-MM-dd'}}</span>
		<img class="comic" ng-src="{{urlForDate(days)}}">
	</div>
</body>
</html>
